/**
Version Name: Final-v.0.8
*/

:root{ 
    --main-margin:10px;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{

    background-color: white;
}
.container{
    width: 90%; 
    padding: 0; 
    margin: auto; 
}
.container-grid{
    
    display: grid;
    min-height: 110vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 0.3fr 0.3fr;
    grid-template-areas: 
        'main main sidebar sidebar'  
        'content1 content1 sidebar sidebar'
        'content2 content2 sidebar sidebar'
    ;
    grid-gap: 0.2rem;
    background-color: #fff;
}
.border-lightgreen{
    border: 1px solid lightgreen;
}
.border-dotted{
    border: 2px dashed #ccc;
}
main{ 
    grid-area: main; 
    position: relative; 
    padding: 0px var(--main-margin);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block; 
}
#main-content{ 
    background-position: center;
    background-clip: content-box;
}
#main-content{ 
    vertical-align: middle;
    width: auto;
    height: 100%; 
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain; 
}
#sidebar-content,
#sub-content1,
#sub-content2
{ 
   vertical-align: middle;
    width: 100%;
    height: 100%; 
    background-repeat: no-repeat;
    /* background-size: 100% 100%;  */
    background-size: contain;
}
img{
    width: auto;
    height: 100%; 
}


#img-section{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.image-card-caption{ 
    text-align: center;
}
.image-card-rotate{
    /* -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    top: 40px;
    width: 100%;
    height: 80%; */
}
#sidebar{
    /* background-color: aquamarine; */
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: sidebar;
    padding: var(--main-margin);
    text-align: center;
    background-repeat: no-repeat;  
    background-size: 100% 100%;
    background-position: left;
}
.dashes_:before{
/* content: "_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _";
letter-spacing: 4px; */
}

#content{ 
    height: auto;
    grid-area: content;
    justify-content: center; 
    margin: 20px 0px;
    text-align: center;
    position: relative;
    border-top: 2px dashed #ccc;
    
}
.sub-content{
    width: 80%;
    justify-content: space-around;
    margin: auto;
    font-size: 12px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
#img-sidebar{
    width: 100%;
}
#content1{
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    grid-area: content1;
    padding: var(--main-margin);
    text-align: center;
    display: block;
    align-items: center;
    justify-content: space-around;
}
#content2{
    grid-area: content2;
    padding: var(--main-margin);
    text-align: center;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: auto 100%;
    justify-content: space-around;
    align-items: center;
}
.alert-center{ 
    justify-content: center;
    text-align: center;
    padding: 10px 0px; 
    margin: 10px 0px;
}
.alert-left{ 
    justify-content: left;
    text-align: left;
    padding: 10px 0px; 
    margin: 10px 0px;
}
.alert{
    padding: 10px 20px;
    margin:0px;
    justify-content: space-around;
    box-sizing: border-box;
    box-shadow: none;
    justify-content: center;
    list-style: none;
    text-decoration: none;
}
.alert-primary{ 
    background-color: rgb(110, 120, 180); 
    color: #fff; 
    border-radius: 5%;
    border: none;
}

.alert-primary:hover,
.alert-primary:active,
.alert-primary:focus,
.alert-primary:link
{
    border: none; 
    background-color: rgb(100, 120, 248); 
    color: #fff;
    cursor: pointer;
}

.alert-success{
    background-color: rgb(112, 219, 178); 
    color: rgb(77, 68, 68); 
    border-radius: 5%;
    border: none;
}

.alert-success:hover,
.alert-success:active, 
.alert-success:link, 
.alert-success:focus
{
    border: none; 
    background-color: rgb(59, 230, 164); 
    color: rgb(44, 40, 40); 
    cursor: pointer;
}
.image-card > img 
{
    width: 100%;
    height: auto;
}
.image-card{
    text-align: center;
    /* width: 70%; */
    position: relative;
    justify-content: center;
    align-items: center;
    display: block;
    margin: auto; 
}

.image-content1-card > img 
{
    width: 50%;
    height: auto;
}
.image-content1-card{
    text-align: center;
}
.image-content2-card{
    text-align: center;
  
    position: relative;
    justify-content: center;
    align-items: center;
    display: block;
    margin: auto; 

}
.image-content2-card > img
{
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 600px) {
    .image-card > img{
        width: 100%;
    }
 
    .container-grid{
     
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 2fr 0.2fr 0.2fr;
        grid-template-areas: 
            'main'
            'sidebar'  
            'content1'
            'content2'
        ; 
    }
    
  }